
/**
 * Out elements
 */
body {
  background: #123456;

}
.container-fluid {
  border: 1px red dotted;
  background: #DD99DD;
  padding: 5px;

.content {
  border: 1px #44CC99 dashed;
  background: #999999;
  padding: 5px;

}

}
#page-tpl-outer {
  border: 1px red dotted;
  background: #DDDDDD;
  padding: 5px;
}

#page-tpl-inner {
  border: 1px red dotted;
  background: #FFFFFF;
  padding: 5px;
}

#region-tpl-outer {
  border: 1px green dotted;
  background: #CCDDDD;
  padding: 5px;
  margin-bottom: 5px;
}

#region-tpl-inner {
  border: 1px green dotted;
  background: #FFFFFF;
  padding: 5px;
}

#block-tpl-outer {
  border: 1px blue dotted;
  background: #DDDDCC;
  padding: 5px;
  margin-bottom: 5px;
}

#block-tpl-inner {
  border: 1px blue dotted;
  background: #FFFFFF;
  padding: 5px;
}

#breadcrumb{
  border: 1px blue dotted;
}

#name-and-slogan {
  border: 1px red dotted;
  background: #DDDDDD;
  padding: 5px;
}

#page-header {
  clear: both;
  border: 1px red dotted;
  background: #FFFFCC;
  padding: 5px;
}

.centered {
  text-align:center;
}
