/*******************************************************************************
 * components-blocks.scss
 *
 * Contains styles for blocks components.
 ******************************************************************************/

/* Adjust max-width for wider codeblocks */
article {
  max-width: 760px;
}

/*******************************************************************************
 * All sidebar blocks.
 ******************************************************************************/
.l-sidebar .block {
  background-color: #F7F7F7;
  padding: 15px 20px;
  margin-bottom: 15px;
}
.l-sidebar .block h2.block-title {
  margin: 0 0 .5em;
}
.l-sidebar .block ul {
  padding-left: 1.5em;
}

/*******************************************************************************
 * Search block.
 ******************************************************************************/
.block-search-form .form-item {
  margin: 0;
}
.block-search-form .twitter-typeahead,
.block-search-form .form-search {
  width: 100%;
}
.block-search-form .form-search {
  padding: 4px 8px 0 8px;
}
.block-search-form .form-actions {
  display: none;
}
.block-search-form pre {
  height: 0;
  display: block;
  padding: 0;
}

/*******************************************************************************
 * Fancy autocomplete.
 ******************************************************************************/
.tt-dropdown-menu {
  background: #fff;
  border: 2px solid #E8E6E5;
}
.tt-suggestion {
  padding: 2px 4px;
}
.tt-suggestion p {
  margin: 0;
  padding: 0;
}
/* Hover/selected state for typeahead suggestions. */
.tt-cursor {
  background: #E8E6E5;
}

/*******************************************************************************
 * Main menu at mobile width
 ******************************************************************************/
@media all and (max-width: 48em) { /* 768px @ 16px font size  -- MD */
  .block-system-main-menu ul.menu {
    position: static;
    width: auto;
  }
}

/*******************************************************************************
 * Newsletter block.
 ******************************************************************************/
.block-block-newsletter,
.block-block-3 {
  padding-bottom: 30px;
}
.block-block-newsletter #mce-EMAIL,
.block-block-3 #mce-EMAIL {
  margin-right: 5px;
  width: 100%;
}
@media (min-width: 34em) { /* 544px @ 16px font size -- SM */
  .block-block-newsletter,
  .block-block-3 {
    padding-bottom: 0;
  }
}

/*******************************************************************************
 * Menu Pager blocks.
 ******************************************************************************/
.block-menu-pager-main-menu {
  margin-top: 30px;
}
.block-menu-pager-main-menu .item-list {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

/*******************************************************************************
 * Change Records exposed filters.
 ******************************************************************************/
.view-change-record .views-exposed-form .views-widget-filter-combine input.form-text {
  width: 220px;
}

/*******************************************************************************
 * Flyout menu — only appears on large-screen on pages that use the
 * api/backdrop/classes layout. To apply this to other layouts:
 * - Put the flyout menu blocks in their own region of the layout (e.g., bottom)
 * - Configure the region with a DIV wrapper with class "api-flyout-menu"
 * - Add a block to the top of the region with content "Contents", styled with
 *   the additional CSS class "flyout-menu-title".
 ******************************************************************************/
@media (min-width: 768px) {
  .api-flyout-menu {
    background: #efefef;
    top: 95px;
    left: -310px;
    width: 330px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    z-index: 100;
    -webkit-box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    color: #222;
  }
  .admin-bar .api-flyout-menu {
    top: 130px;
  }
  .api-flyout-menu:hover, .api-flyout-menu:focus {
    transform: translate3d(310px, 0, 0);
    animation-timing-function: 1s ease-in;
  }
  .api-flyout-menu .block-search-form {
    padding-right: 1.5em;
  }
  .api-flyout-menu .flyout-menu-title {
    top: 50%;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transform: rotate(270deg);
    right: -13px;
    font-weight: 800;
    font-size: 18px;
  }
  .api-flyout-menu .menu-tree ul {
    padding-right: 1em;
  }
  .api-flyout-menu .menu-tree li {
    list-style-type: none;
  }
}
