html.dialog-open {
  position: inherit;
}

.field-widget-paragraphs-embed table td.paragraph-item .paragraph-bundle-header {
  display: flex;
  justify-content: space-between;
}

.field-widget-paragraphs-embed table td.paragraph-item .inner-actions {
  display: flex;
}

.paragraphs-actions-more {
  position: relative;
  border: 0;
  margin: 0;
  background-color: transparent;
  overflow: visible;
}

.paragraphs-actions-more summary {
  border: 0;
  list-style: none;
}

.paragraphs-actions-more > summary::-webkit-details-marker {
  display: none;
}

.paragraphs-actions-more .details-child-wrapper {
  position: absolute;
  right: 0;
  display: block;
  z-index: 100;
  background: #fff;
  border-radius: 4px;
  border: 2px solid #ccc;
  margin-top: 5px;
  box-shadow: 0 0 4px #ddd;
}

.paragraphs-actions-more .details-child-wrapper:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: auto;
  right: 17px;
  top: -18px;
  border: 9px solid transparent;
  border-bottom: 9px solid #ccc;
}

.paragraphs-actions-more .details-child-wrapper:after {
  content: "";
  display: inline-block;
  position: absolute;
  left: auto;
  right: 18px;
  top: -14px;
  border: 8px solid transparent;
  border-bottom: 8px solid #fff;
}

.paragraphs-actions-more .details-child-wrapper input.form-submit {
  padding: 0.5em 1em;
  margin: 0;
  border: 0;
  border-radius: unset;
  box-shadow: none;
  line-height: normal;
  transition: none;
  text-align: left;
  width: 100%;
}

.paragraphs-actions-more .details-child-wrapper input.form-submit:hover {
  box-shadow: none;
}

.paragraphs-actions-more .details-child-wrapper input.form-submit:not(.button-danger):hover {
  color: #ffffff;
  background-color: #0074bd;
}

.paragraphs-actions-more .details-child-wrapper input:first-child {
  margin-top: 0.5em;
}

.paragraphs-actions-more .details-child-wrapper input:last-child {
  margin-bottom: 0.5em;
}

.field-widget-paragraphs-embed {
  .removed {
    padding-left: 1.5rem;
    background: repeating-linear-gradient(45deg,
        rgba(231, 37, 27, .07),
        rgba(231, 37, 27, .07) 20px,
        rgba(231, 37, 27, .1) 20px,
        rgba(231, 37, 27, .1) 40px);
  }

  .unpublished {
    padding-left: 1.5rem;
    color: #444;
    background: repeating-linear-gradient(45deg,
        rgba(0, 0, 0, .05),
        rgba(0, 0, 0, .05) 20px,
        rgba(0, 0, 0, .03) 20px,
        rgba(0, 0, 0, .03) 40px);
  }

  table {
    font-size: 0.923rem;

    .paragraphs-item,
    .form-item {
      white-space: normal;
    }
  }
}
