/**
 * Custom styling for Menu Pager elements.
 */

.item-list .menu-pager {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-pager .menu-pager-previous {
  float: left;
  margin: 0;
}

.menu-pager .menu-pager-next {
  float: right;
  margin: 0;
}
